/* Universal setting */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 0 auto;
  background-color: white;
  font-family: 'BioRhyme', serif;
}

section{
  height: 100%;
  width: 100%;
  margin-top: 10vh;
}

h3{
  font-size: 2vw;
}

/* Home page section setting */

.navigation{
  overflow: hidden;
  font-size: 2vw;
  padding: 1vw;
  background-color:  #f7f7f7;
  width: 100%;
  /* position: fixed; */
  top: 0;
}

.topnav-right {
  display: flex;
  float: right;
  gap:10vmin;
}

#logo{
  display: flex;
  float: left;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
}

#homepic{
  float: right;
  width: 30%;
  height: 30%;
  animation: rotation 8s infinite linear;
  border-radius: 60%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#welcome{
  font-size: 10vw;
  text-align: center;
  overflow: hidden;
}

#welcome-message{
  text-align: right;
  overflow: visible;
  font-size: 1.5vw;
}

#scroll{
  text-align: center;
  font-size: 1vw;
}

#scroll-arrow{
  text-align: center;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(232, 152, 192); /* Set a background color */
  color: rgb(34, 9, 101); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  font-family: 'BioRhyme', serif;
}

#myBtn:hover {
  background-color: rgb(43, 183, 219); /* Add a dark-grey background on hover */
}

/* Portfolio section setting */


/* About section setting */

/* Footer setting */

footer{
  text-align: center;
}

.diamond{
  width: 120px;
  height: 120px;
  top: 50%;
  left: 50%;
  background-color: blue;
  transform: translate(-50%,-50%);
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}